* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03080a;
}

.container {
    width: 80%;
    padding: 20px;
}

.container h2 {
    width: 100%;
    color: #45f3ff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: ease-in 5.5s;
}

.container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #45f3ff;
}


fieldset {
    width: 150px;
}